@import url('http://fonts.cdnfonts.com/css/gotham-pro');

*{
    margin: 0;
    padding: 0;
}
:root{
    --tyl:#2955e8;
    --przod:#0db40d;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
body{
    font-family: 'Gotham Pro', sans-serif;
}
header{
    text-align: center;

}
.conten{
    font-size: 0.9vw;
    display: flex;

}

.time{

    height: 1000px;
    border-radius: 20px;
    background-color: var(--tyl);
    width: 12%;
    text-align: center;
}
 h2{
    margin-top: 10px;
}
.l-0{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    line-height: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--przod);
    width: 90%;
}
.l-1{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    line-height: 50px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--tyl);
    width: 90%;

}
.leson{
    filter: blur();
    filter: ;
    margin-left: auto;
    text-align: center;
    width: 12%;
    border-radius: 20px;
    background-color: var(--przod);
}
.room{

    position: relative;
}
.leson:hover{
    box-shadow: 0px 20px 16px 0px rgba(19, 114, 183, 0.63);

}

.room p{

    position: absolute;
    right: 20px;
    line-height: 15px;
    font-size:0.8vw ;
    color: #ffffff;

    width: 50%;
    float: right;
}
.room h4{
    line-height: 60px;
    float: left;
}
.wtorek {
 display: none;
}
.sroda{
    display: none;
}
.czwartek{
    display: none;
}
.piatek{
    display: none;
}
@media screen  and (max-width: 1000px){


    .room p{
        line-height: 3.3vw;
        font-size: 2.5vw;
    }
    .conten{
        font-size: 3vw;
        display: grid;
        grid-template-columns: auto auto;
    }
    .leson{
        width: 100%;
    }
    .time{
        width: 100%;
    }
    .piatek{
        display: block;
    }
    .wtorek{
        display: block;
    }
    .sroda{
        display: block;
    }
    .czwartek{
        display: block;
    }
}
